body {
    background: white;
    font-family: serif;
}

.resume-box {
    width: 50%;
    margin: 50px auto;
    padding: 40px;
    border: 4px solid black;
    text-align: center;
}

p {
    margin: 0;
    font-size: 30px;
    letter-spacing: 2px;
}

h3 {
    margin-top: 5px;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 1px;
    color: gray;
    
}

h2 {
    margin-top: 25px;
    font-size: 20px;
    text-decoration: underline;
}

p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 22px;
}
