body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

.container {
    width: 90%;
    margin: auto;
}

.box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

.redA {
    color: red;
    font-size: 38px;
    font-weight: bold;
    
}

.highlight {
    background: #fff8b3;
    padding: 5px 8px;
    border-left: 4px solid red;
}

.comment {
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
}

.green {
    background: #c7f7d2;
    border-left: 4px solid green;
}
    





