*{
    margin: 0;
    padding: 0;
}
.body{
    height: 100vh;
    width: 100%;
    
}
.section{
        
    height: 400px;
    width: 100%;
    background-color: rgb(148, 244, 244);
    margin-bottom: 10px;


}
.box-2{
    height: 100px;
    width: 100px;
    border-radius: 8px;
    background-color: darkkhaki;
    margin: 8px;
    align-content: center;
    text-align: center;
    
    


}
.heading{
    font-size: 30px;
    padding: 10px;
    font-weight: 10px;
}
.output{
    display: flex;
    flex-wrap: wrap;

    
    
}
.nowrap{
    flex-wrap: nowrap;
}
.wrap-reverse{
       
    flex-wrap: wrap-reverse;
    
    
}


