*{
    margin: 0px;
    padding: 0px;

}

.img-1{
    background-image: url("https://images.pexels.com/photos/35040824/pexels-photo-35040824.jpeg");

}
.img-2{
    background-image: url("https://images.pexels.com/photos/31427173/pexels-photo-31427173.jpeg");

}
.img-3{
    background-image: url("https://images.pexels.com/photos/3260006/pexels-photo-3260006.jpeg");

}
.parallex{
    height: 120vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
.content{
    height: 100px;
    background-color: white;
    text-align: center;
    align-content: center;


}
.content h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

}
