*{
    margin: 0;
    padding: 0;
}
.body{
    height: 100vh;
    width: 100%;
    
}
.section{
        
    height: 400px;
    width: 100%;
    background-color:  yellow;
    margin-bottom: 10px;


}
.box-2{
    height: 100px;
    width: 100px;
    border-radius: 8px;
    background-color:cornflowerblue;
    margin: 8px;
    align-content: center;
    text-align: center;
    
    


}
.heading{
    font-size: 30px;
    padding: 10px;
    font-weight: 10px;
}
.output{
    display: flex;
    justify-content: flex-start;

    
    
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.space-around{
    display: flex;
    justify-content: space-around;
}
.space-evenly{
    display: flex;
    justify-content: space-evenly;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.flex-end-2{
    position: absolute;
    display: flex;
    align-items: flex-end;
    height: 270px;
}
.flex-center-2{
    display: flex;
    align-content: center;
    justify-content: center;
}
.flex-stretch-2{
    display: flex;
    justify-content: stretch;
    align-content: stretch;
}
.flex-space-between-2{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.flex-space-around-2{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
.flex-space-evenly-2{
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
}










